.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App_mainContent_128Yb {
    height: auto;
    flex-direction: column;
  }
}
body{
  color: #303841;
  font-family: Rubik, sans-serif;
  margin: 0;
}
:root {
  --rem: 16;
}
.App_mainContent_12BYb {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
}
.App_mainContent_12BYb:before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  -webkit-animation: App_wave_3CtRm 8s ease-in-out infinite alternate;
  animation: App_wave_3CtRm 8s ease-in-out infinite alternate;
}
.App_card_38zmH {
  margin: 20px auto;
}
.App_card_38zmH {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0,0,0,.02), 0 7px 5.4px rgba(0,0,0,.028), 0 12.1px 10.1px rgba(0,0,0,.035), 0 19.8px 18.1px rgba(0,0,0,.042), 0 34.7px 33.8px rgba(0,0,0,.05), 0 81px 81px rgba(0,0,0,.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
  
}

.App_card_38zmH:before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}
.App_cardTop_3hHIG {
  margin: 12px 0;
  position: relative;
}

.App_cardTopLogo_2ho9K {
  display: block;
  width: 50px;
}
.App_cardTitle_29nyq {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
}
.App_cardBody_1tfYc {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
.App_shopItem_3FgVU:first-child {
  padding-top: 0;
}
.App_shopItem_3FgVU {
  padding: 40px 0;
}
.App_shopItemImage_341iU {
  border-radius: 30px;
  height: 380px;
  display: flex;
  align-items: center;
  overflow: hidden;
}.App_shopItemName_1_FJR {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}
.App_shopItemDescription_1EIVK {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}
.App_shopItemBottom_3401_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App_shopItemPrice_2SLiG {
  font-size: 18px;
  font-weight: 700;
}
.App_shopItemButton_23FO1.App_inactive_19f0W {
  width: 46px;
  pointer-events: none;
  cursor: default;
}.App_shopItemButton_23FO1 {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all .25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.App_shopItemButton_23FO12 {
  cursor: default;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 15px;
  border-radius: 50%;
  transition: all .25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.App_cardTitleAmount_17QFR {
  float: right;
}
.App_cardBody_1tfYc {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}.App_cartItem_lfA9I {
  display: flex;
  padding: 20px 0;
}
.App_shopItemImage_341iU img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
  transform: rotate(-24deg);
  margin-left: -16px;
}
.App_cartItemLeft_1HqDk {
  flex: 0;
}
.App_cartItemImage_1rLvq {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #eee;
  margin-right: 34px;
}
.App_cartItemImageBlock_wRE4E img {
  display: block;
  width: 140%;
  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
}
.App_cartItemRight_2LNcC {
  flex: 1;
}
.App_cartItemName_3he6M {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}.App_cartItemPrice_R0sr2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}.App_cartItemActions_13kia, .App_cartItemCount_1GCCN {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}.App_cartItemCount_1GCCN {
  flex: 1;
}.App_cartItemActions_13kia, .App_cartItemCount_1GCCN {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}.App_cartItemRemove_1GiLR {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all .25s ease;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f6c90e; */
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}.amount span{
  color: crimson;
  padding: 0 15px;
}
.amount button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border:none
  
}
.App_cartItemRemove_1GiLR img {
  width: 16px;
  height: 16px;
  margin-left: 100px;
}
.App_shopItemButton_23FO1.App_inactive_19f0W {
  width: 46px;
  pointer-events: none;
  cursor: default;
}
